*
!.gitignore
!README.MD
!mods/
!mods/*
!mods/*/
!mods/*/*
!config/
!config/*
!config/*/
!config/*/*
!config/*/*/
!config/*/*/*
!config/*/*/*/
!config/*/*/*/*
!local/
!local/*
!local/*/
!local/*/*
!options.txt
!optionsof.txt
!.curseclient
!minecraftinstance.json